<dp-datepicker
  [disableDays]="disableDays"
  [date]="date" (datePickerReady)="dpApiService = $event">
  <button (click)="dpApiService.toggleDatepickerMenu()">Open</button>
</dp-datepicker>


<!--<button (click)="dpApiService.showToday()">-->
<!--  TODAY-->
<!--</button>-->

<!--<button (click)="dpApiService.unselectDate()">-->
<!--  Unselect-->
<!--</button>-->

<!--<button (click)="dpApiService.selectToday()">-->
<!--  Select Today-->
<!--</button>-->

<!--<button (click)="dpApiService.showSelected()">-->
<!--  Selected-->
<!--</button>-->

<!--<button (click)="dpApiService.showPreviousMonth()">-->
<!--  <-->
<!--</button>-->

<!--<button (click)="dpApiService.showNextMonth()">-->
<!--  >-->
<!--</button>-->
